DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/replit_clone?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# GitHub OAuth App credentials (optional)
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Google OAuth credentials (optional)
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
